In [1]:
l = [1,2,3,4,5,'sudh',True,20.6]

In [2]:
for i in l:
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [ ]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))

In [ ]:
l

In [ ]:
d = []
for i in l:
    if type(i)==int:
        d.append(i)

In [3]:
d

NameError: name 'd' is not defined

In [ ]:
l

In [ ]:
for i in l:
    pass #if i dont want to write body part i can write pass

In [ ]:
s = 'pandi'
for i in s: #basically i is a local varibale instead of i we can use any name
    print(i)

In [4]:
l

[1, 2, 3, 4, 5, 'sudh', True, 20.6]

In [5]:
for i in l:
    print(i) #bascially here for looop is exhausted in natural order
else:
    print('nakku')

1
2
3
4
5
sudh
True
20.6
nakku

In [6]:
l

[1, 2, 3, 4, 5, 'sudh', True, 20.6]

In [7]:
for i in l:
    if i==4:
        break
    print(i)
else:
    print('nakku')

1
2
3

In [8]:
s = 'senthurapandi'
for i in s:
    if i=='a':
        continue
    print(i)
else:
    print('nothing')

s
e
n
t
h
u
r
p
n
d
i
nothing

In [9]:
s = 'senthurapandi'
for i in s:
    if i=='a':
        break
    print(i)
else:
    print('nothing')

s
e
n
t
h
u
r

In [10]:
t = (1,2,3,4,5,6)
for i in t:
    print(i)

1
2
3
4
5
6

In [11]:
s = {1,2,3,333,3,3,4,5,6,7}
print(s)

{1, 2, 3, 4, 5, 6, 7, 333}

In [12]:
for i in s:
    print(i)

1
2
3
4
5
6
7
333

In [13]:
d = {'name' : 'xyz','age' : 20,'height' : 5.10}
for i in d.values():
    print(i)

xyz
20
5.1

In [14]:
d = {'name' : 'xyz','age' : 20,'height' : 5.10}
for i in d:
    print(i,':',d[i])

name : xyz
age : 20
height : 5.1

In [15]:
range(9)

range(0, 9)

In [16]:
for i in range(0,9,2):
    print(i)

0
2
4
6
8

In [17]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
tuple(range(9))

(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [19]:
number = 1
for i in range(4):
    for j in range(i+1):
        print(number,end = ' ')
        number=number+1
    num = 1
    print()

1
2 3
4 5 6
7 8 9 10

In [20]:
num = 4
for i in range(4):
    for j in range(0,i+1):
        print('sudh',end = ' ')
    print('\n')

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [21]:
num = 3
for i in range(3):
    for j in range(-2,-i):
        print(' ',end =' ')
    for k in range(i+1):
        print('sudh',end = ' ')
    print()

    sudh
  sudh sudh
sudh sudh sudh

In [22]:
num = 4
for i in range(4):
    for j in range(0,i+1):
        print('sudh',end= ' ')
    print('\n')

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [23]:
num = 3
for i in range(3):
    for j in range(-2,-i):
        print(' ',end = ' ')
    for k in range(i+1):
        print('sudh',end =' ')
    print()

    sudh
  sudh sudh
sudh sudh sudh

In [24]:
n = 4
for i in range(n):
    for j in range(0,i+1):
        print('pandi',end = ' ')
    print('\n')

pandi

pandi pandi

pandi pandi pandi

pandi pandi pandi pandi

In [35]:
n = 3
for i in range(n):
    for j in range(-3,-i):
        print(' ',end = ' ')
    for k in range(i+1):
        print('pandi',end = ' ')
    print(' ')

      pandi
    pandi pandi
  pandi pandi pandi

In [36]:
n = 3
for i in range(n):
    for j in range(i,n-1):
        print(' '*len('sudh'),end = ' ')
    for k in range(i+1):
        print('sudh',end = ' ')
    for l in range(i):
        print('sudh',end = ' ')
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [42]:
t = (3,23,45,67,2,4,5,6)

In [52]:
for i in range(len(t)) :
    print(i,'index : ',t[i])

0 index :  3
1 index :  23
2 index :  45
3 index :  67
4 index :  2
5 index :  4
6 index :  5
7 index :  6

In [68]:
s = 'ineuron'
for i in range(len(s)):
    print(i,'index:',s[i])

0 index: i
1 index: n
2 index: e
3 index: u
4 index: r
5 index: o
6 index: n

In [96]:
s = 'ineuron'
for i in range(len(s)-1,0,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n

In [97]:
d

{'name': 'xyz', 'age': 20, 'height': 5.1}

In [102]:
for i in d.items():
    print(i,type(i),type(i[1]))

('name', 'xyz') <class 'tuple'> <class 'str'>
('age', 20) <class 'tuple'> <class 'int'>
('height', 5.1) <class 'tuple'> <class 'float'>

In [109]:
l = ["sudh",'pandi',43553,'pandimads@gmail.com',34,45]
s = []
for i in l :
    if type(i)==int:
        s.append(i)
print(s)

[43553, 34, 45]

In [135]:
d = {1:123,'name':'pandi','mail':'pandimads@gmail.com',230:'fdh','45':'hnsdh',234:'djh'}

In [136]:
d.keys()

dict_keys([1, 'name', 'mail', 230, '45', 234])

In [137]:
l = []
for i in d.keys():
    if type(i)==int:
        l.append(i)
print(l)

[1, 230, 234]

In [138]:
for i in d.keys():
    if type(i)==int:
        print(i,':',d[i])

1 : 123
230 : fdh
234 : djh

In [144]:
s = 'aaaabbbccd'
print('a' ,':', s.count('a'))
print('b' ,':', s.count('b'))
print('c' ,':', s.count('c'))
print('d' ,':', s.count('d'))

a : 4
b : 3
c : 2
d : 1

In [153]:
for i in set(s):
    print(i,s.count(i))

c 2
b 3
a 4
d 1

In [162]:
i = 465456565
for j in str(i):
    print(int(j))

4
6
5
4
5
6
5
6
5

In [180]:
t = ('pandi','kumar',[1,2,3,4,5],(3,1,2,4),{3:3,'key2':'nakku'})

In [190]:
for i in t:
    if type(i)==list:
        print(i[2])
    if type(i)==tuple:
        print(i[0])
    if type(i)==dict:
        for k,v in i.items():
            if k==3 or v==3:
                print(k)
                print(v)

3
3
3
3

In [179]:
for i in t:
    if type(i)==list or type(i)==tuple or type(i)==dict:
        for j in i:
            if j==3:
                print(j)

3
3
3

In [ ]:
a = {}